<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AT ANY COST</title>
    <style>
        *{
            text-align: center;
            color:deeppink;
        }
        .exploreimage{
            padding: 100px;
            width: 200px;
            height: 200px;
        }
        div {
            background: linear-gradient(to bottom, #ccff66 0%, #6699ff 100%);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <img src="https://kbimages1-a.akamaihd.net/47446097-61ed-4055-ac55-c8292ecb6ef9/353/569/90/False/at-any-cost-a-bound-trilogy-prequel-novella.jpg" class="exploreimage w-50" />
                <h1>AT ANY COST - 12 January 2016</h1>
                <h4>by kate sparkes</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT778TkGD9_vrN0tu4Z8JVnn5sbipFD0LcDw&usqp=CAU" width="100px" height="100px" alt="4.5">
                <h2>At Any Cost: A Bound Trilogy Prequel Novella Kindle Edition. $3.99. Kindle Edition. Curses and Crimes  Kindle Edition.A legendary Sorcerer's ordinary daughter. A powerful king with everything to lose. An ill-fated love that would change their worlds forever</h2 >

            </div>
        </div>
    </div>

</body>
</html>