<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elements Of COST ACCOUNTING</title>
    <style>
        *{
            text-align: center;
            color:blue;
        }
        div {
            background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <img src="https://rukminim1.flixcart.com/image/416/416/krntoy80/book/u/8/1/elements-of-cost-accounting-for-b-com-iv-semester-of-cbcs-of-original-imag5ej2jzbmc7xe.jpeg?q=70" class="exploreimage w-50" />
                <h1>Elements Of COST ACCOUNTING- 1924</h1>
                <h4>by SN MAHESHWARI AND SN MITTAL</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKQzBU9DAE2TCR1CB4CBBBM1QOtuU-P-UONw&usqp=CAU" width="140px" height="100px" alt="4.5">
                <h2>Cost accounting is defined as "a systematic set of procedures for recording and reporting measurements of the cost of manufacturing goods and performing services in the aggregate and in detail. It includes methods for recognizing, classifying, allocating, aggregating and reporting such costs and comparing them with standard costs.".</h2 >

            </div>
        </div>
    </div>

</body>
</html>