<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Name Is Eva</title>
    <style>
        *{
            text-align: center;
            color:red;
        }
        div {
            background: linear-gradient(to bottom, #66ffff 0%, #ffff66 100%);
            
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <img src="https://m.media-amazon.com/images/I/418YIWMGO2L._SY264_BO1,204,203,200_QL40_FMwebp_.jpg" class="exploreimage w-50" />
                <h1>My Name Is Eva- 6 September 2019</h1>
                <h4>by Suzanne Goldring</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmPMlQxPyCX9PtkxvrxxKyH6bJ1f-Z7Lzv72Q06TLvm_9GUodI0B2kdHGaBTtpd48XJ_c&usqp=CAU" width="140px" height="100px" alt="4.5">
                <h2>The life story of Evelyn “Eva”. The pathway she went through to seek revenge on the death of her husband Hugh at the hands of the Colonel.An absolutely gripping and emotional historical novel - Kindle edition by Goldring, Suzanne.An absolutely gripping and emotional historical novel - Kindle edition by Goldring, Suzanne.A gripping, haunting and compelling story about love, courage, and betrayal set in the war-battered landscape of Germany</h2 >

            </div>
        </div>
    </div>

</body>
</html>