<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCERT Mathematics for Class 11</title>
    <style>
        *{
            text-align: center;
            color:black;
        }
        div {
            background: linear-gradient(to bottom, #ff66ff 0%, #66ffff 100%);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <img src="https://m.media-amazon.com/images/I/51h9sGGmbdL._SX198_BO1,204,203,200_QL40_FMwebp_.jpg" class="exploreimage w-50" />
                <h1>NCERT Mathematics for Class 11- 1961</h1>
                <h4>by M. C. Chagla</h4>
                <img src="https://toppng.com/uploads/preview/5-star-rating-logo-11549725771reuhxkq5ac.png" width="100px" height="100px" alt="4.5">
                <h2>The National Council of Educational Research and Training (NCERT) is an apex resource organisation set up by the Government of India to assist and advise the central and state governments on academic matters related to school education. The model textbooks published by the Council for adoption by school systems across India have generated controversies over the years. They have been accused of reflecting the political views of the party in power in the Government of India.</h2 >
            </div>
        </div>
    </div>

</body>
</html>