<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Think And Grow Rich</title>
    <style>
        *{
            text-align: center;
            color:blue;
        }
        div {
            background: linear-gradient(to bottom, #33ccff 0%, #ff99ff 100%);
        }
        .exploreimage{
            padding: 100px;
            width: 250px;
            height: 250px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <img src="https://m.media-amazon.com/images/I/41+eK8zBwQL._SX319_BO1,204,203,200_.jpg" class="exploreimage w-50" />
                <h1>Think And Grow Rich- 1937</h1>
                <h4>by Oliver Napoleon Hill</h4>
                <img src="https://www.kindpng.com/picc/m/537-5377693_5-star-rating-png-5-gold-stars-png.png" width="120px" height="100px" alt="4.5">
                <h2>Think and Grow Rich is a book written by Napoleon Hill in 1937 and promoted as a personal development and self-improvement book. He claimed to be inspired by a suggestion from business magnate and later-philanthropist Andrew Carnegie. It remains the biggest seller of Napoleon Hill's books.Think and Grow Rich is based on Hill's earlier work The Law of Success, and is the result of more than twenty years of study of many individuals who had amassed personal fortunes.</h2 >
            </div>
        </div>
    </div>

</body>
</html>